# Build / installer
installer-output/
installer-files/
build/
dist/

# Dev
.vscode/
.idea/

# Python
__pycache__/
*.pyc

# Node
node_modules/

backend/data/chroma_db/
backend/data/files.db
backend/data/*.db
backend/data/*.sqlite3

# Binaries
*.exe
*.msi
*.dll
*.pdb

# Archives
*.zip
*.7z
*.tar
*.gz

# Logs
*.log